\conf{dim=1}
Star1d sample output file


Mass=${M/M_SUN,%3.3f} Msun  Radius=${R/R_SUN,%3.3f} Rsun  Luminosity=${L/L_SUN,%3.3f} Lsun 
Teff=${Teff,%1.1f} K

X=${X,%2.2f} Z=${Z,%2.2f} Xc=${Xc,%2.2f} Xh=${Xh,%2.2f}


nr=${nr,%d} (${npts,%d}) (${xif,%f})


(r,rho,p,T,phi,Xr,N2,opacity,Gamma1,del_ad)


${r,%e}

${rho,%e}

${p,%e}

${T,%e}

${phi,%e}

${Xr,%e}

${N2,%e}

${opa.k,%e}

${eos.G1,%e}

${eos.del_ad,%e}


